footer {
    background: linear-gradient(#565656, rgb(30, 30, 30));
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    transition: all 0.5s;
}

.footer--logo{
    height: auto;
    width: 50px;
    padding: 10px;
}

.footer--logo:hover {
    transform: scale(1.2)
}


